$backgroundImage1 : url("../../images/sets-box.png");
$backgroundImage2 : url("../../images/sets-box.png");
$backgroundImage3 : url("../../images/sets-box.png");
$backgroundImage4 : url("../../images/sets-box.png");
$backgroundImage5 : url("../../images/sets-box.png");
$backgroundImage6 : url("../../images/sets-box.png");
